@import "tailwindcss";

@theme {
  --font-sans: "Cormorant Garamond", serif;
}

html,
body,
#root {
  min-height: 100%;
  background: #ffffff;
}

body {
  margin: 0;
}

.admin-font,
.admin-font * {
  font-family: Arial, Helvetica, sans-serif !important;
}
